[Desktop Entry]
Version=1.0
Name=Rosary
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Rosary
Exec=flatpak run --branch=master org.rosary.bible
#terminal=false
Icon=/share/icons/hicolor/scalable/apps/org.rosary.bible.png
Type=Application
Categories=Network;WebBrowser;
